. .venv/bin/activate
type python
export $(grep -v '^#' .env | xargs)
export SESSION_ID=$(cat /dev/urandom | LC_ALL=C tr -dc 'a-zA-Z0-9' | fold -w 50 | head -n 1)
export USER_ID="buGQNlKrLxE5S9BDH91Ccg9EORZnQFtjrK4n6jizGq20YozRbT"
